name: Destroy AKS

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  destroy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3

      - name: Terraform Init (AKS)
        working-directory: "all modules/usermodule multiple"
        run: terraform init

      - name: Terraform Destroy (AKS)
        working-directory: "all modules/usermodule multiple"
        run: terraform destroy -auto-approve
